body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid rgb(27, 197, 27);
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}
.ctn-head {
    text-align: right;
}
/* .ctn-head { 
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    transform: translateX(50%);

} */

