body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    border: 1px solid rgb(27, 197, 27);
    border-radius: 5px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    width:30% ;
}

.ctn-head {
    margin: 5px;
}
.ctn-head > div {
    width: 100%;
    text-align: right;
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 95px;
    height: 75px;
    display:flex;
    justify-content: center;
    border:solid;
    border-radius:3px;
    background-color:black;
    color:white;
    font-size:default;
    letter-spacing: 1px;
    float: left;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

button.hover {
    color:rgb(14, 14, 219);
    background-color: black;


}

/* .ctn-head { 
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    transform: translateX(50%);
    

} */
.cnt-body {
    position: absolute;
    top:50px;
    margin:auto;

}


